body {
    background-color: rgb(132, 152, 171);
    padding: 5px;
}

.text_input {
    border: 2px, solid, black;
}

.connect{
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #0dddfd;
    border-color: #0dddfd;;
    background-color: white;
    :hover {
        color: #fff;
        background-color: #0dddfd;;
        border-color: #0dddfd;;
    }
}

.button-auth {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: #0d6efd;
    border-color: #0d6efd;
    background-color: white;
    :hover {
        color: #fff;
        background-color: #0d6efd;
        border-color: #0d6efd;
    }
}
.button-signout {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: rgb(253, 21, 13);
    border-color: rgb(253, 21, 13);
    background-color: white;

    :hover {
        color: #fff;
        background-color: rgb(253, 21, 13);
        border-color: rgb(253, 21, 13);
    }
}
.button-upload {
    cursor: pointer;
    outline: 0;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    color: rgb(30, 138, 36);
    border-color: rgb(30, 138, 36);
    background-color: white;

    :hover {
        color: #fff;
        background-color: rgb(30, 138, 36);
        border-color: rgb(30, 138, 36);
    }
}
#jsonContent{
    list-style-type: none;
}
